<div class="cd-wrapper">
  
  <div class="cd-toolbar">
    <div class="cd-title">
      <img [src]="titleIcon" alt="mapa-visor" />
      <h3>{{ title }} <span>| Mapa</span></h3>
    </div>
    
    <div class="cd-toolbar-actions">
      <ng-content select="[toolbar-actions]"></ng-content>
    </div>
  </div>

  <ng-content select="[filtros-panel]"></ng-content>

  <div class="cd-map-container">
    <div *ngIf="cargando" class="map-loading-overlay">
      <i class="pi pi-spin pi-spinner"></i>
      <span>Cargando mapa...</span>
    </div>

    <ng-content select="[map-summary]"></ng-content>

    <div id="map" #mapContainer class="map"></div>

    <div class="cd-search-panel" *ngIf="mostrarSearchPanel">
      <div class="search-header">
        <span><i class="pi pi-search"></i> Buscar Cliente</span>
        <i class="pi pi-times cerrar" (click)="cerrarBusqueda()"></i>
      </div>
      <div class="search-actions" *ngIf="isBusquedaActiva">
        <span class="limpiar-link" (click)="limpiarBusqueda()">
          <i class="pi pi-filter-slash"></i> Limpiar búsqueda
        </span>
      </div>
      <div class="search-body p-inputgroup mt-2">
        <input type="text" pInputText placeholder="Buscar..." [(ngModel)]="searchQuery" (keyup.enter)="emitirBusqueda()">
        <button pButton type="button" icon="pi pi-search" (click)="emitirBusqueda()" class="p-button-primary" title="Buscar"></button>
      </div>
    </div>
    <button class="cd-search-toggle" *ngIf="!mostrarSearchPanel" (click)="abrirBusqueda()">
      <i class="pi pi-search"></i>
    </button>

    <app-capas-sidebar [baseLayers]="baseLayers" [baseActive]="baseActive"
      [commercialLayers]="commercialLayers"
      [abierto]="false"
      (baseLayerChange)="setBaseLayer($event)" (layerToggle)="toggleCommercialLayer($event)">
    </app-capas-sidebar>

    <ng-content select="[map-popup]"></ng-content>

    <app-paneles-mapa-gis [controlador]="controladorGis"
      [hayPanelDerecho]="hayPopupAbierto || mostrarSearchPanel"
      (filaElegida)="ubicarFilaEnMapa($event)"></app-paneles-mapa-gis>
  </div>
</div>
